*,*::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
font-family: 'Kumbh Sans', sans-serif;
font-size: 62.5%;

/* Text Colors */

--VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
--SoftRed: hsl(14, 88%, 65%);

/* Background Gradient Colors */

--SoftViolet: hsl(273, 75%, 66%);
--SoftBlue: hsl(240, 73%, 65%);

/* Other Text Colors */

--VeryDarkGrayishBlue: hsl(237, 12%, 33%);
--DarkGrayishBlue: hsl(240, 6%, 50%);

/* Divider Color */

--LightGrayishBlue: hsl(240, 5%, 91%);
}

.answerParagraph {
    color: var(--DarkGrayishBlue);
    line-height: 1.6;
    pointer-events: none;
    position: absolute;
    top: 2.5rem; 
    opacity: 0;
    transition: opacity 250ms;
}
.arrowIcon {
    transition: transform .5s;
}

body {
    background-image: linear-gradient(var(--SoftViolet), var(--SoftBlue));
    display: grid;
    font-size: 1.2rem;
    min-height: 100vh;
    place-items: center;
}
.btnAndAnswerContainer {
    position: relative;
}
.cardContainer {
    align-items: center;
    background-color: white;
    box-shadow: 2px 22px 49px -5px var(--VeryDarkGrayishBlue);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 15rem 2rem 7rem;
    width: 32.7rem;
}
h1 {
    font-size: 2.7rem;
    margin-bottom: 3rem;
    text-align: center;
}
hr {
    background-color: var(--LightGrayishBlue);
    border: .3px solid var(--LightGrayishBlue);
    margin-bottom: 1.5rem;
}
hr:last-child {
    margin-bottom: 0;
}
.illustrationBoxDesktop {
    display: none;
}
.mainQuestionAndAnswerContainer {
    margin-bottom: 4rem;
    width: 85%;
}
.margin {
    margin-bottom: 6rem;
}
.questionAndArrowContainer {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
    transition: margin-bottom 500ms;
}
.questionAndArrowContainer:hover {
    color: var(--SoftRed);
}
.womanOnlineContainer {
    display: flex;
    justify-content: center;
    
}
.womanOnlineDesktopImage {
    display: none;
}
.womanOnlineMobileImage {
    filter: drop-shadow(0px 30px 0px #f1f0fc);
    margin: -11.2rem 0 5rem 0 ;
    width: 80%;
}

/* JavaScript Stuff */

[data-show] .answerParagraph {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s;
} 
[data-show] .arrowIcon {
    transform: rotate(180deg);
}
[data-show] .questionParagraph {
    color: var(--VeryDarkDesaturatedBlue);
    font-weight: 700;

}
[data-show] #btn1 {
    margin-bottom: 8rem ;
}
[data-show] #btn2 {
    margin-bottom: 6rem ;
}
[data-show] #btn3 {
    margin-bottom: 8rem ;
}
[data-show] #btn4 {
    margin-bottom: 6.3rem ;
}
[data-show] #btn5 {
    margin-bottom: 6.5rem ;
}


/* Media Queries */

@media screen and (min-width: 969px) {
    .answerParagraph {
        font-size: 1rem;
        padding-right: 3rem;
    }
    .arrowIconContainer {
        margin-right: 2rem;
    }
    .cardContainer {
        background-image: url(/images/bg-pattern-desktop.svg);
        background-position: -55rem -30rem;
        background-repeat: no-repeat;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 0;
        position: relative;
        width: 91rem;
    }
    h1 {
        text-align: left;
    }
    .illustrationBoxDesktop {
        display: block;
        grid-column: 1/-1;
        grid-row: 1/-1;
        position: absolute;
        left: -9rem;
        top: 18rem;
    }
    .mainQuestionAndAnswerContainer {
        margin: 6rem 10rem 8rem 5rem;
        width: 36%;
    }
    .womanOnlineContainer {
        display: grid;
        overflow: hidden;
    }
    .womanOnlineDesktopImage {
        display: block;
        grid-column: 1/-1;
        grid-row: 1/-1;
        margin-left: -8rem;
    }
    .womanOnlineMobileImage {
        display: none;
    }

    /* JavaScript Stuff */

    [data-show] #btn1 {
        margin-bottom: 5.5rem ;
    }
    [data-show] #btn2 {
        margin-bottom: 5.5rem ;
    }
    [data-show] #btn3 {
        margin-bottom: 7rem ;
    }
    [data-show] #btn4 {
        margin-bottom: 5.7rem ;
    }
    [data-show] #btn5 {
        margin-bottom: 5.7rem ;
    }
    
}
